/*General styles*/
.rp-wrapper {
	padding: 25px 15px;
	text-align: left;
}

.rp-wrapper .rp-heading {
	margin-top: 0;
	margin-bottom: 15px;
}

.rp-wrapper .rp-summery {
	line-height: 1.5;
	margin-bottom: 20px;
}

.rp-wrapper .rp-posts {

}

.rp-wrapper .rp-posts li {
	margin-bottom: 5px;
}

.rp-wrapper .rp-posts li a {
	line-height: 1.5;
}

/*aside*/
.rp-wrapper.aside .rp-heading {
	padding-bottom: 15px;
	margin-bottom: 20px;
	display: inline-block;
	position: relative;
}

.rp-wrapper.aside .rp-heading:after {
	content: '';
	position: absolute;
	width: 50%;
	height: 2px;
	background: #fff;
	bottom: 0;
	left: 25%;
}

.rp-wrapper.aside .rp-posts {
	padding: 0
}

.rp-wrapper.aside .rp-posts li {
	margin-bottom: 10px;
}